.jumbotron {
    padding-top: 10%;
    text-align: center;
}

.display-4 {
    text-decoration: underline;
    text-decoration-thickness: from-font;
    text-decoration-color: burlywood;
}

.display-6 {
    text-decoration: underline;
    text-decoration-thickness: from-font;
    text-decoration-color: tomato;
}