.pagination {
    display: flex;
    justify-content: space-evenly;
}

.active {
    background-color: lavender;
    text-decoration: underline;
    text-decoration-thickness: from-font;
    text-decoration-color: blue;
}

.img {
    border: 1px solid;
    height: 200px;
    width: -webkit-fill-available;
}

.previous {
    background-color: cornsilk;
    text-decoration: none;
}

.card-text {
    color: grey;
}

.card-title {
    font-family: sans-serif;
    color: cadetblue;
}

@media only screen and (max-width: 900px) {
    .img {
        height: -webkit-fill-available;
    }
}